<app-header [titulo]="Cards"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios" color="primary">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item color="primary">
          <ion-icon name="pin" slot="start" color="light"></ion-icon>
          <ion-label>Marcador</ion-label>
      </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure commodi odio iste accusantium minima dicta obcaecati cum corrupti esse, earum aperiam laboriosam quis. Neque illum dicta nesciunt nobis facere reiciendis.
      </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-img src="/assets/shapes.svg"></ion-img>

      <ion-card-content>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime consequatur delectus laborum quo. Quibusdam possimus nesciunt praesentium eligendi tempora laborum consequatur dicta optio. At vitae commodi numquam? Fuga, totam nobis.
      </ion-card-content>
    </ion-card>

</ion-content>
